<title><%= attrs[:title] %></title>
<meta name="description"          content="<%= attrs[:description] %>"/>

<meta property="og:type"          content="<%= attrs[:og_type] %>"/>
<meta property="og:url"           content="<%= attrs[:og_url] %>"/>
<meta property="og:title"         content="<%= attrs[:og_title] %>"/>
<meta property="og:description"   content="<%= attrs[:og_description] %>"/>
<meta property="og:image"         content="<%= attrs[:og_image] %>"/>

<meta name="twitter:card"         content="<%= attrs[:twitter_card] %>"/>
<meta name="twitter:creator"      content="<%= attrs[:twitter_creator] %>"/>
<meta name="twitter:site"         content="<%= attrs[:twitter_site] %>"/>
<meta name="twitter:title"        content="<%= attrs[:twitter_title] %>"/>
<meta name="twitter:description"  content="<%= attrs[:twitter_description] %>"/>
<meta name="twitter:image"        content="<%= attrs[:twitter_image_src] %>"/>

<script type="application/ld+json">
<%= JSON.pretty_generate(schema_json).html_safe %>
</script>
