!!!
%html
  %head
    %title Admin
    = stylesheet_pack_tag "admin"
    = javascript_pack_tag "admin"
    = csrf_meta_tags

  %body
    %nav.navbar.navbar-default.navbar-fixed-top(data-turbolinks-permanent)
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{ type: 'button', data: { target: ".navbar-collapse", toggle: "collapse" } }
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'Admin', admin_root_path, class: 'navbar-brand'
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.dropdown
              %a.dropdown-toggle(href="#" data-toggle="dropdown")
                Category 1
                %span.caret
                  %ul.dropdown-menu
                    %li= link_to 'Locations', admin_locations_path
                    %li= link_to 'Fake Things', admin_fake_things_path
                    %li= link_to 'Thing', '#'
            %li.divider
            %li.dropdown
              %a.dropdown-toggle(href="#" data-toggle="dropdown")
                Category 2
                %span.caret
                  %ul.dropdown-menu
                    %li= link_to 'Thing', '#'
            %li.divider
            %li.dropdown
              %a.dropdown-toggle{href: "#", role: "button", data: {toggle: "dropdown"}}
                Reports
                %span.caret
              %ul.dropdown-menu
                %li= link_to 'Report', '#'
          %ul.nav.navbar-nav.navbar-right
            %li= link_to 'Log Out', destroy_admin_user_session_path, method: :delete
    .container
      #main
        - if flash[:alert].present?
          .alert.alert-danger
            = flash[:alert]
            %button.close(type="button" data-dismiss="alert")
              %span
                &times;
        - if flash[:notice].present?
          .alert.alert-info
            = flash[:notice]
            %button.close(type="button" data-dismiss="alert")
              %span
                &times;
        = yield
