.row
  .col-md-9.content-title
    %h1 Locations
  .col-md-3.text-right
    %h1= link_to 'Create New Location', new_admin_location_path, class: 'btn btn-success'

.panel.panel-default
  %table.table.table-striped
    %thead
      %tr
        %th Sequence
        %th Name
        %th.text-center Edit / Delete
        %th Enabled
        %th Reorder
    %tbody
      - @locations.in_sequence.each_with_index do |thing, i|
        %tr
          %td= thing.seq
          %td= thing.name
          %td.text-center
            .btn-group
              = link_to edit_admin_location_path(thing), class: 'btn btn-default btn-sm' do
                %i.glyphicon.glyphicon-pencil
              = link_to admin_location_path(thing), class: 'btn btn-default btn-sm', method: :delete, data: { confirm: 'Are you sure?' } do
                %i.glyphicon.glyphicon-remove
          %td
            .btn-group
              - if thing.enabled?
                %button.btn.btn-xs.btn-success Enabled
                %button.btn.btn-xs.btn-success.dropdown-toggle{ 'data-toggle' => 'dropdown' }
                  %span.caret
                %ul.dropdown-menu
                  %li
                    = link_to 'Disable', disable_admin_location_path(thing), method: :patch
              - else
                %button.btn.btn-xs.btn-warning Disabled
                %button.btn.btn-xs.btn-warning.dropdown-toggle{ 'data-toggle' => 'dropdown' }
                  %span.caret
                %ul.dropdown-menu
                  %li
                    = link_to 'Enable', enable_admin_location_path(thing), method: :patch
          %td
            .btn-group.reorderable-group
              - if i == 0
                = button_tag class: 'btn btn-default btn-xs', method: :patch, disabled: true do
                  %i.glyphicon.glyphicon-chevron-up
              - else
                = link_to promote_admin_location_path(thing), class: 'btn btn-default btn-xs', method: :patch do
                  %i.glyphicon.glyphicon-chevron-up

              - if i == @locations.length - 1
                = button_tag class: 'btn btn-default btn-xs', method: :patch, disabled: true do
                  %i.glyphicon.glyphicon-chevron-down
              - else
                = link_to demote_admin_location_path(thing), class: 'btn btn-default btn-xs', method: :patch do
                  %i.glyphicon.glyphicon-chevron-down

